{% extends "school_home/base.html" %}
{% block side-bar %}		
<ul class="nav nav-list">
	<li class="">
		<a href="{% url 'strack-marketing' %}">
			<i class="menu-icon fa fa-edit"></i>
			<span class="menu-text"> Compose </span>
		</a>

		<b class="arrow"></b>
	</li>
	<li class="">
		<a href="{% url 'product' %}">
			<i class="menu-icon fa fa-envelope"></i>
			<span class="menu-text"> Inbox </span>
		</a>
	</li>
	<li class="">
		<a href="{% url 'user-products' %}">
			<i class="menu-icon fa fa-send"></i>
			<span class="menu-text"> Send </span>
		</a>
	</li>
	<li class="">
		<a href="{% url 'user-products' %}">
			<i class="menu-icon fa fa-edit"></i>
			<span class="menu-text"> Draft </span>
		</a>
	</li>
	<li class="">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-gear"></i>
			<span class="menu-text">
				Product Settings
			</span>

			<b class="arrow fa fa-angle-down"></b>
		</a>

		<b class="arrow"></b>

		<ul class="submenu">
			<li class="">
				<a href="{% url 'product-status' %}">
					<i class="menu-icon fa fa-caret-right"></i>
					Status
				</a>
				<b class="arrow"></b>
			</li>						
		</ul>
	</li>
</ul><!-- /.nav-list -->
{% endblock side-bar %}