{% extends "school_home/base.html" %}
				{% block side-bar %}		
				<ul class="nav nav-list">
					<li class="">
						<a href="{% url 'strack-schools' %}">
							<i class="menu-icon fa fa-home"></i>
							<span class="menu-text"> Schools </span>
						</a>

						<b class="arrow"></b>
					</li>
					<li class="">
						<a href="{% url 'new-school' %}">
							<i class="menu-icon fa fa-desktop"></i>
							<span class="menu-text"> Register Schools </span>
						</a>
					</li>
					<li class="">
						<a href="{% url 'view-schools' %}">
							<i class="menu-icon fa fa-list"></i>
							<span class="menu-text"> View Schools </span>
						</a>
					</li>



					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-gear"></i>
							<span class="menu-text">
								School Settings
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="{% url 'ownership' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									Ownership
								</a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="{% url 'access' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									Access
								</a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="{% url 'level' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									Level
								</a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="{% url 'schtype' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									Type
								</a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="{% url 'category' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									Category
								</a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="{% url 'section' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									Section
								</a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="{% url 'regstatus' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									Reg. Status
								</a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="{% url 'cennostatus' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									Cen. Reg. Status
								</a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="{% url 'district' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									District
								</a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="{% url 'region' %}">
									<i class="menu-icon fa fa-caret-right"></i>
									Region
								</a>

								<b class="arrow"></b>
							</li>
						</ul>
					</li>
				</ul><!-- /.nav-list -->
				{% endblock side-bar %}