{% extends "school_home/base_teacher.html" %}
{% load crispy_forms_tags %}
{% block content %}
								<div class="row">
									<div class="col-xs-12">
									<div class="clearfix">
									<div class="pull-left">
   									<h4>Teachers
										<small>
											<i class="ace-icon fa fa-angle-double-right"></i>
											Registered Teachers
									</small>
									</h4>
									</div>
										<div class="pull-right tableTools-container"></div>
										</div>
										<div class="table-header">
											Results for "Latest Registered Teachers"
										</div>

										<!-- div.table-responsive -->

										<!-- div.dataTables_borderWrap -->
										<div>
											<table id="dynamic-table" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
													
													<th class="center">
															<label class="pos-rel">
																<input type="checkbox" class="ace" />
																<span class="lbl"></span>
															</label>
														</th>
													
														<th>Name</th>
														<th class="hidden-480">Reg. No</th>
														<th>
														<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
														Registered On
														</th>
														<th>
														<i class="ace-icon fa fa-map-marker light-orange bigger-110"></i>
														Origin
														</th>														
														<th>
														<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
														Recorded On
														</th>														

														<th></th>
													</tr>
												</thead>

												<tbody>
														

														{% for teacher in teachers %}    
														<tr>
														
																		<td class="center">
																			<label class="pos-rel">
																				<input type="checkbox" class="ace" />
																				<span class="lbl"></span>
																			</label>
																		</td>
																		<td>
																			<a href="{% url 'teacher-details' teacher.id %}">{{ teacher.name }}</a>
																		</td>
																		<td>{{ teacher.reg_no }}</td>

																		<td>{{ teacher.date_registered|date:"N d, Y" }}</td>
																		<td>{{ teacher.district }} {{ teacher.region }} Ug.</td>
																		<td>{{ teacher.date_created|date:"N d, Y" }}</td>
																		
															<td>
															<div class="hidden hidden-xs action-buttons">
										

																<a class="green" href="">
																	<i class="ace-icon fa fa-pencil bigger-130"></i>
																</a>

																<a class="red" href="">
																	<i class="ace-icon fa fa-trash-o bigger-130"></i>
																</a>
															</div>

															<div class="hidden-md hidden-lg">
																<div class="inline pos-rel">
																	<button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
																		<i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
																	</button>

																	<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
																	

																		<li>
																			<a href="" class="tooltip-success" data-rel="tooltip" title="Edit">
																				<span class="green">
																					<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																				</span>
																			</a>
																		</li>

																		<li>
																			<a href="" class="tooltip-error" data-rel="tooltip" title="Delete">
																				<span class="red">
																					<i class="ace-icon fa fa-trash-o bigger-120"></i>
																				</span>
																			</a>
																		</li>
																	</ul>
																</div>
															</div>
														</td>
												</tr>

												{% endfor %} 
												
												</tbody>
											</table>
										</div>
									</div>
								</div>

{% endblock content %}